In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
# Accuracy scores
classifiers = [
    "LogisticRegression",
    "GaussianNB",
    "RandomForestClassifier",
    "SVC",
    "AdaBoostClassifier",
    "XGBClassifier",
    "SGDClassifier",
]

accuracy_scores = [81.4735, 63.1140, 81.7835, 83.0234, 79.2799, 82.9518, 80.1144]

In [3]:
# Create dataframe
df = pd.DataFrame({"CLASSIFIERS": classifiers, "ACCURACY_SCORES": accuracy_scores})
df

              CLASSIFIERS  ACCURACY_SCORES
0      LogisticRegression          81.4735
1              GaussianNB          63.1140
2  RandomForestClassifier          81.7835
3                     SVC          83.0234
4      AdaBoostClassifier          79.2799
5           XGBClassifier          82.9518
6           SGDClassifier          80.1144

In [4]:
# Define the null mean for both calculations
null_mean = 0.8

# Define the null mean for both calculations
alpha = 0.01

# Define an array to hold the results
score_results = []
p_results = []
hypothesis_results = []


def compare(p, a):
    if p < a:
        result = "Reject the null hypothesis."
    else:
        result = "Fail to reject the null hypothesis."

    print(result)
    return result

# Z-Score

In [5]:
mean = np.mean(accuracy_scores)

std_dev = np.std(accuracy_scores)

n = len(accuracy_scores)

se = std_dev / np.sqrt(n)

z_score = (mean - null_mean) / se

p_value = 1 - stats.norm.cdf(z_score)

hypothesis_results.append(compare(p_value, alpha))
score_results.append(z_score)
p_results.append(p_value)

print(f"Z-score: {z_score}")
print(f"P-value: {p_value}")

Reject the null hypothesis.
Z-score: 31.577301460720612
P-value: 0.0

# T-Score

In [6]:
sample_mean = np.mean(accuracy_scores)

sample_std = np.std(accuracy_scores, ddof=1)  # ddof=1 for sample standard deviation

null_mean = 0.8

t_score = (sample_mean - null_mean) / (sample_std / np.sqrt(len(accuracy_scores)))

degrees_of_freedom = len(accuracy_scores) - 1

p_value = stats.t.sf(np.abs(t_score), df=degrees_of_freedom) * 2

hypothesis_results.append(compare(p_value, alpha))
score_results.append(t_score)
p_results.append(p_value)

print("T-score:", t_score)
print("P-value:", p_value)

Reject the null hypothesis.
T-score: 29.234900388912287
P-value: 1.0614955138869267e-07

In [7]:
# Create dataframe
results_df = pd.DataFrame(
    {
        "METHOD": ["Z", "T"],
        "SCORES": score_results,
        "P-VALUE": p_results,
        "HYPOTHESIS": hypothesis_results,
    }
)

results_df

  METHOD     SCORES       P-VALUE                   HYPOTHESIS
0      Z  31.577301  0.000000e+00  Reject the null hypothesis.
1      T  29.234900  1.061496e-07  Reject the null hypothesis.